body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Optional, makes it look nicer */
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 40px);
    gap: 3px;
    row-gap: 0px;
    margin-bottom: 10px;
}

.cell {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 2px solid #333;
    border-radius: 2px;
}

.wall {
    background: linear-gradient(135deg, #d0f0ff, #a0cfe0);
    border: 2px solid #5fa9c7;
    box-shadow: inset -3px -3px 5px #e0faff, inset 3px 3px 5px #7fbcd2;
    border-radius: 4px;
}

.empty {
    background-color: #ddd;
}

.target {
    background-color: #f44336;
    color: white;
}

.visited {
    color: white;
}

.player {
    color: white;
}

.player img {
    transform: translate(-2.5px, -9px);
}
